<table class="table table-bordered">
    <thread>
        <th class="col-8">Tipo</th>
        <th class="col-2">Quantidade Reciclada</th>
        <th class="col-2">Valor</th>
    </thread>
    <tbody>
        <% lixos.forEach(lixo => { %>
            <tr>
                <td><%= lixo.tipo %> </td>
                <td>
                    <%= lixo.peso%> Kg's
                </td>
                <td>
                    <%= lixo.valor%> R$
                </td>
            </tr>
        <% }) %>
    </tbody>
</table>