<body style="background-color: #0e541c;">
<nav class="navbar navbar-expand-lg navbar-dark text-center justify-content-center" style="background-color:#096c1b;">
    <div class="row navbar-nav text-center justify-content-center">
        <div class="col nav-item">
            <a href="/usuarios/login" class="nav-link">Login</a>
        </div>
        <div class="col nav-item">
            <a href="/usuarios/cadastrar" class="nav-link">Cadastrar</a>
        </div>
        <div class="col nav-item">
            <a href="/funcionarios/login" class="nav-link">Funcionarios</a>
        </div>
    </div>
</nav>