<nav class="navbar navbar-expand-lg navbar-dark" style="background-color:#29853a">
    <ul class="navbar-nav">
        <li class="nav-item">
            <a href="novo" class="nav-link">Cadastrar Novo Funcionario</a>
        </li>
        <li class="nav-item">
            <a href="editar" class="nav-link">Configurações</a>
        </li>
        <li class="nav-item">
            <a href="/funcionarios/dashboard" class="nav-link">Dashboard</a>
        </li>
        <li class="nav-item">
            <a href="/" class="nav-link">Sair para a tela inicial</a>
        </li>
    </ul>
</nav>