<nav class="navbar navbar-expand-lg navbar-dark" style="background-color:#29853a">
    <ul class="navbar-nav">
        <li class="nav-item">
            <a href="/usuarios/" class="nav-link">Home</a>
        </li>
        <li class="nav-item">
            <a href="/usuarios/movimentacoes" class="nav-link">Movimentações</a>
        </li>
        <li class="nav-item">
            <a href="/usuarios/editar" class="nav-link">Configurações</a>
        </li>
        <li class="float-end">
            <a href="/" class="nav-link">Tela Inicial</a>
        </li>
    </ul>
</nav>