<%- include ('./partials/head.ejs') %>
<%- include ('./partials/menu.ejs') %>
<link rel="stylesheet" href="/stylesheets/image.css">
<div class="container">
  <div class="row d-flex justify-content-center align-items-center">
    <div class="col text-center Imagem">
      <img src="/images/image copy.png" class="img-fluid" width="100%">
      <h1 class="Titulo" style="font-size: 140px; font-family: 'Times New Roman', Times, serif;">Mundo<small style="color: rgb(35, 218, 50);">Verde</small></h1>
    </div>
  </div>
</div>

<%- include ('./partials/footer.ejs') %>
