<%- include ('./partials/head.ejs') %>
<%- include ('./partials/menu.ejs') %>
<div class="container py-3 text-white">
  <div class="row text-center justify-content-center text-white">
    <h1 class="titulo" style="font-size: 80px;">MundoVerde</h1>
  </div>
  <div class="row d-flex align-items-center">
    <div class="col text-white">
      <h1>Cuidar do planeta e do seu bolso nunca foi tão fácil!</h1>
      <hr>
      <p>Na Mundo Verde, acreditamos que a sustentabilidade é um compromisso de todos. </p>
      <p>Por isso, oferecemos um serviço inovador de reciclagem que te beneficia de duas maneiras:</p>
    </div>
    <div class="col text-center">
      <img src="/images/image copy.png" class="img-fluid" width="100%">
    </div>
  </div>
  <div class="row d-flex align-items-center">
    <div class="col text-center">
      <img src="/images/reciclando.png" class="img-fluid" width="100%">
    </div>
    <div class="col text-center">
      <ul>
        <li>
          <b>Contribui para o meio ambiente</b>: Ao reciclar seus materiais conosco, 
          você ajuda a reduzir a quantidade de lixo que vai para os aterros sanitários
          e contribui para a preservação dos recursos naturais.
        </li>
        <br>
        <li>
          <b>Ganha desconto no Imposto de Renda</b>: A Mundo Verde é parceira do programa 
          Recicla Imposto, que permite que você receba um desconto no seu Imposto de Renda 
          ao reciclar seus materiais.
        </li>
      </ul>
    </div>
  </div>
  
</div>

<%- include ('./partials/footer.ejs') %>
