<%- include ('./partials/head.ejs') %>
<%- include ('./partials/menu.ejs') %>
<br>
<br>

<div class="container py-3 rounded" style="color: #0e541c;">
  <div class="row text-center justify-content-center">
    <h1 class="titulo" style="font-size: 80px;">MundoVerde</h1>
  </div>
  <div class="row d-flex align-items-center">
    <div class="col">
      <h1>Cuidar do planeta e do seu bolso nunca foi tão fácil!</h1>
      <hr>
      <p>Na Mundo Verde, acreditamos que a sustentabilidade é um compromisso de todos. </p>
      <p>Por isso, oferecemos um serviço inovador de reciclagem que te beneficia de duas maneiras:</p>
    </div>
    <div class="col text-center">
      <img src="/images/image copy.png" class="img-fluid rounded" width="100%">
    </div>
  </div>
  <div class="row d-flex align-items-center">
    <div class="col text-center">
      <img src="/images/reciclando.png" class="img-fluid rounded" width="100%">
    </div>
    <div class="col text-center">
      <ul>
        <li>
          <b>Contribui para o meio ambiente</b>: Ao reciclar seus materiais conosco, 
          você ajuda a reduzir a quantidade de lixo que vai para os aterros sanitários
          e contribui para a preservação dos recursos naturais.
        </li>
        <br>
        <li>
          <b>Ganha desconto no Imposto de Renda</b>: A Mundo Verde é parceira do programa 
          Recicla Imposto, que permite que você receba um desconto no seu Imposto de Renda 
          ao reciclar seus materiais.
        </li>
      </ul>
    </div>
  </div>
  <br>
  <div class="row text-center justify-content-center">
    <h1 class="titulo">Vantagens de Reciclar Com a Gente!</h1>
    <div class="py-3 col-8">
      <p>
        <b>Desconto Garantido no Imposto de Renda</b>: Quanto mais voce recicla, maior será o desconto que voce
        recebera
      </p>
      <p>
        <b>Contribuição para o meio ambiente</b>: Ao reciclar voce protege o meio ambiente e ajuda a criar
        um futuro para as próximas gerações
      </p>
      <p>
        <b>Praticidade</b>: Com uma sede em cada cidade você pode reciclar onde quer que esteja
      </p>
      <p>
        <b>Compromisso com a sustentabilidade</b>: A Mundo Verde é uma empresa comprometida com a sustentabilidade e
         oferece diversos produtos e serviços que contribuem para um futuro mais verde.
      </p>
    </div> 
  </div>
  
  <div class="row text-center justify-content-center py-4">
    <br>
    <h1 class="titulo" style="font-size: 70px;">Junte-se ao programa</h1>
    <a href="/usuarios/cadastrar" class="col-3 btn text-white m-5" style="background-color: #11c234;
    font-size: 35px;">Cadastre-se Agora!</a>
  </div>
</div>

<%- include ('./partials/footer.ejs') %>
