<%- include('../partials/headLogin.ejs') %>
<%- include('../partials/menu.ejs') %>

<br>
<div class="container">
    <br>
    <div class="card">
        <div class="card-header" style="background-color: rgba(86, 165, 79, 0.813); color:rgb(255, 255, 255);">
            Novo Usuário
        </div>
        <div class="card-body" style="background-color: rgba(155, 196, 151, 0.813)">
            <form method="post" action="/usuarios/cadastrar">
                <div class="form-floating mb-3">
                    <input
                        type="text"
                        name="nome"
                        id="nome"
                        class="form-control"
                        placeholder="Nome"
                        required>
                    <label for="nome">Nome</label>
                </div>
                <div class="form-floating mb-3">
                    <input
                        type="email"
                        name="email"
                        id="email"
                        class="form-control"
                        placeholder="E-mail"
                        required>
                    <label for="nome">E-mail</label>
                </div>
                <div class="form-floating mb-3">
                    <input
                        type="text"
                        name="cpf"
                        id="cpf"
                        class="form-control"
                        placeholder="CPF"
                        pattern="[0-9]{11}"
                        title="Digite somente os numeros do CPF"
                        maxlength="11"
                        required>
                    <label for="nome">CPF</label>
                </div>
                <div class="form-floating mb-3">
                    <input
                        type="password"
                        name="senha"
                        id="senha"
                        class="form-control"
                        placeholder="Senha"
                        required>
                    <label for="nome">Senha</label>
                </div>
                <div class="form-floating">
                    <button type="submit" class="btn btn-primary">Salvar</button>
                    <a href="/" class="btn btn-secondary">Cancelar</a>
                </div>
            </form>
        </div>
    </div>
</div>

<%- include('../partials/footer.ejs') %>