<%- include('../partials/head.ejs') %>
<%- include('../partials/menu.ejs') %>

<br>
<div class="container">
    <br>
    <div class="card">
        <div class="card-header">
            Novo Usuário
        </div>
        <div class="card-body">
            <form method="post" action="/usuarios/cadastrar">
                <div class="form-floating mb-3">
                    <input
                        type="text"
                        name="nome"
                        id="nome"
                        class="form-control"
                        placeholder="Nome"
                        required>
                    <label for="nome">Nome</label>
                </div>
                <div class="form-floating mb-3">
                    <input
                        type="email"
                        name="email"
                        id="email"
                        class="form-control"
                        placeholder="E-mail"
                        required>
                    <label for="nome">E-mail</label>
                </div>
                <div class="form-floating mb-3">
                    <input
                        type="text"
                        name="cpf"
                        id="cpf"
                        class="form-control"
                        placeholder="CPF"
                        required>
                    <label for="nome">CPF</label>
                </div>
                <div class="form-floating mb-3">
                    <input
                        type="password"
                        name="senha"
                        id="senha"
                        class="form-control"
                        placeholder="Senha"
                        required>
                    <label for="nome">Senha</label>
                </div>
                <div class="form-floating">
                    <button type="submit" class="btn btn-primary">Salvar</button>
                    <a href="/" class="btn btn-warning">Cancelar</a>
                </div>
            </form>
        </div>
    </div>
</div>

<%- include('../partials/footer.ejs') %>