<%- include('../partials/head.ejs') %>
<h1>Hello World</h1>
<a href="/usuarios/delete" class="btn btn-primary">Deletar Conta</a>
<a href="/usuarios/editar" class="btn btn-primary">Editar Conta</a>
<%- include('../partials/footer.ejs') %>