<%- include('../partials/head.ejs') %>
<%- include('../partials/menu.ejs') %>

<div class="container">
    <br\>
    <div class="card">
        <div class="card-header">
            Novo Funcionario
        </div>
        <div class="card-body">
            <form method="post" action="/funcionarios/novo">
                <div class="form-floating mb-3">
                    <input
                        type="number"
                        name="numeroPessoal"
                        id="numeroPessoal"
                        class="form-control"
                        placeholder="Numero Pessoal"
                        required>
                    <label for="nome">Número Pessoal</label>                   
                </div>
                <div class="form-floating mb-3">
                    <input
                        type="password"
                        name="senha"
                        id="senha"
                        class="form-control"
                        placeholder="Senha"
                        required>
                    <label for="nome">Senha</label>
                </div>
                <div class="form-floating">
                    <button type="submit" class="btn btn-primary">Salvar</button>
                    <a href="/" class="btn btn-warning">Cancelar</a>
                </div>
            </form>
        </div>
    </div>
</div>

<%- include('../partials/footer.ejs') %>